*{
  padding:0;
  margin:0;
 
}

/* Google fonts */

.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Headings */

h1 {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    margin-bottom: 40px;
}

h2 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

/* Paragraphs, links, body */

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 20px;
}

a {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:#3BD981 ;
}


form {
  display: grid;
  margin: auto; 
}

/* Buttons */

.button {
  background-color: #3BD981;
  border: 0px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px auto;
  text-align: center;
  transition: 0.2s ease-in-out;
  width: 200px;
  height: 50px;
  margin-top:30px;
}

.button:hover {
  background-color: #4CBDFD;
}


/* Header */
.portfolio-header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
}


.portfolio-nav {
  width: 400px;
}


/* Logo */
.animate-logo{
  padding-top: 25px;
} 


/* Navigation */

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}


.nav-button-element {
  cursor: pointer;
  padding: 10px 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: none;
  background-color: transparent;
}


.nav-button-element:hover {
  cursor: pointer;
  color: #3BD981;
  transition:0.5s ease;
}

.nav-button-element-selected {
  cursor: pointer;
  padding: 10px 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: none;
  background-color: transparent;
  border-bottom: 4px solid #3BD981;
}

.nav-button-element-selected:hover {
  cursor: pointer;
  color: #3BD981;
  transition:0.5s ease;
}

/* Navigation for mobile */

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #3BD981;

}

@media(max-width:768px) {
  .hamburger{
    display: block;
    padding:25px;

  }

  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: 100%;
    top: 70px;
    gap:0;
    flex-direction: column;
    background-color: #F2F3F5;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active{
    left:0;
  }


  .nav-button-element{
    margin-bottom: 20px;
  }

  .nav-button-element-selected{
    margin-bottom: 20px;
  }


  
  .animate-logo{
    display:none;
  }

  }





/* Home, hero */

.hero-home-section {
  background:radial-gradient(#e8895a,#ef651b);
}

.hero-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:768px) {
  .hero-home{
    flex-direction: column;
    flex-flow:column;}
  .hero-home-profile-image {order:1;}
  .hero-element {order:2;}

  }

  







.hero-element {
  padding: 50px 20px 50px 150px;
  max-width: 650px;
}

.hero-home-profile-image {
  background-position: center center;
  background-size: cover;
  height: 200px;
  padding: 50px 150px 50px 20px;
}




/* All Project  */

.hero-all-project-section {
  background:#F2F3F5;
}


.all-projects-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px 150px 0px 150px;
}

.all-indiv-project-container {
  margin-bottom: 2%;
  width: 70%; 
  background-color:#28282A ;
  border-radius: 10px;
  
}

.horizontal-project-panel {
display: grid;
align-items: center; 
grid-template-columns:  1fr 1fr;
column-gap: 10px;

}

.all-indiv-project-container:hover {
    outline: 5px #3BD981 solid;
    outline-offset: -5px;
}


.all-indiv-project-header {
  background-position: center center;
  background-size:cover;
  
  height: 250px; 
  width: 250px;
 
}

.all-project-description {
  margin: 0;
  min-height: 120px;
  width: 600px;
  padding: 20px;}



.project1 { background-image: url('images/projects-mtc.png'); }
.project2 { background-image: url('images/projects-ms.png'); }
.project3 { background-image: url('images/projects-fws.png');}



















/* Casestudy, hero */

.hero-casestudy {
  background:#F2F3F5;
}









/* Background sections */



.panel-group {
  display: flex;
  overflow: hidden;
  align-items:center;
  background-color: #3BD981;
}

.panel-element {
min-width:50%;
max-height: 480px;

}

.panel-element-description {
padding: 50px 50px 50px 150px;
background-color: #3BD981;

}

.panel-element-image {
  max-height: 480px;

}

/* Challenges section */

.laptop {
  padding: 50px;
}

.challenge {
  
}

.panel-group-1 {
  display: flex;
  align-items:center;
  margin: 50px 50px 50px 50px;
}

.panel-group-2 {
  display: flex;
  align-items:top;
  margin: 50px 150px 50px 150px;
}

.team {
  width: 50%;
  margin-right: 50px;
}



/* My role section */

.role-right {
  padding: 50px 150px 50px 25px;
}

.role-left {
  padding: 50px 150px 50px 25px;
}

.grey-panel {
  background-color: #28282A;
  padding: 0px 0px 0px 150px;
  height: auto;
  display: flex;
  align-items: flex-start;
  position:relative;
}

.grey-panel-title {
  font-size: 32px;
  text-align: left;
  color: white;
}

.grey-body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
}

.light-grey-body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

li::marker {
  color: #3BD981;
}


.about-me {
  background-color: #F2F3F5;
  height: auto;
}




/* About me */

.content-full-width {
  padding: 100px 150px 0px 150px;
  max-width: 800px;
}
  








.casestudy-background {
  background-color: #3BD981;
  display: flex;
  justify-content: center;
  position:relative;
  align-items:flex-end;
  height: 350px;

  
 
}




















/* Home projects */


.home-projects-section {
  padding: 50px 100px 50px 100px;
  background-color: #28282A;
  display: flex;
  flex-direction: column;
}



.home-project-title {
  text-align: center;
  color: white;
}

.home-all-projects-container {
  justify-content: center;
  display: flex;
}

.home-indiv-project-container {
  margin: 1%;
  width: 30%;
}

.home-indiv-project-container:hover {
    outline: 5px #3BD981 solid;
    outline-offset: -5px;
}



.home-indiv-project-header {
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: #F2F3F5;
  display: flex;
  flex-direction: column;
  height: 300px; 
  justify-content: space-around;
  text-align: center;
}


.project1 { background-image: url('./images/projects-mtc.png'); }
.project2 { background-image: url('./images/projects-ms.png'); }
.project3 { background-image: url('./images/projects-fws.png');}




.home-project-description {
  background-color: #F2F3F5;
  margin: 0;
  min-height: 120px;
  padding: 20px;
}




@media(max-width:768px){

.home-all-projects-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.home-indiv-project-container {
  margin: 3%;
  width: 100%;
}
}





