/* Google fonts */

.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Headings */

h1 {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

h2 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

/* Paragraphs */

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

a {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:#3BD981 ;
}

body {
  margin: 0px;
}


/* Hero */

.hero {
  background:radial-gradient(#e8895a,#ef651b);
}

.hero-project1 {
  background:#F2F3F5;
}


/* header */
.portfolio-header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.sinead-logo {
  padding: 10px 30px;
  width: 50px;
}

.portfolio-logo-container {
  width: 150px;
}

.portfolio-nav {
  width: 400px;
}

/* navigation */

.buttons-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 8px;
}


.nav-button-element {
  cursor: pointer;
  padding: 10px 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: none;
  background-color: transparent;
}

.nav-button-element-selected {
  cursor: pointer;
  padding: 10px 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: none;
  background-color: transparent;
  border-bottom: 4px solid #3BD981;
  
}

.header-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-description-element {
  padding: 50px 50px 50px 150px;
  width: 50%;
}


.header-profile-image {
  background-position: center center;
  background-size: cover;
  height: 200px;
  padding: 50px 150px 50px 50px;
}



/* Project panels on Homepage */
.home-projects-container {
  padding: 50px 5px;
  background-color: #28282A;
  height: 600px;
}

.home-projects-title {
  font-size: 32px;
  text-align: center;
  color: white;
}

.home-three-projects-container {
  justify-content: center;
  display: flex;
}

.home-indiv-projects-container {
  margin: 2%;
  width: 30%;
}

.home-indiv-project-image {
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  text-align: center;
  border-radius: 15px;
}

.home-indiv-project-image:hover {
  border: 5px solid #3BD981;
  transition: 0.2s ease-in-out;
}


/* Specific classes used for the custom background images for each section */
.project1 { background-image: url('./images/projects-mtc.png'); }
.project2 { background-image: url('./images/projects-ms.png'); }
.project3 { background-image: url('./images/projects-fws.png');}

/* Again, to achieve darkened image effect, we need to move interior content above the background image */
.home-indiv-projects-header-content {
  position: absolute;
}

.projects-indiv-title {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.projects-indiv-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
}


.home-projects-button {
  background-color: #3BD981;
  border-bottom: 2px solid #1c884c;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin: 10px auto;
  text-align: center;
  transition: 0.2s ease-in-out;
  width: 200px;
}

.home-projects-button-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: white;
}



.home-projects-button:hover {
  background-color: #1c884c;
}

/* Project page sections */

.panel-group {
  display: flex;
  overflow: hidden;
}

.panel-element {
width:50%;

}

.panel-element-description {
padding: 50px 50px 50px 150px;
background-color: #3BD981;
float: left;
padding-bottom: 1000px;
margin-bottom: -1000px;
}

.panel-element-image {
float: left;
padding-bottom: 1000px;
margin-bottom: -1000px;
}